/***** Base Styles *****/
* {
  box-sizing: border-box;
}

header{
	text-align: center;
	border: 1px solid black;
	font-size: 36px;
  font-family: Helvetica;
	width: 200px;
	height: 40px;
	float: right;
	
}
h1{
  text-align: center;
  font-size: 48px;
  font-family: Helvetica;
}
div {
  background-color: grey;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  
}
p{
	font-size: 16px;
  font-family: Helvetica;
}
#c1{
  background: pink;
}
#c2{
  background: red;
}
#c3{
  background: yellow;
}

/***** Large devices *****/
@media (min-width: 991px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
  }
  .col-lg-4 {
    width: 31.33%;
    margin: 1%;
    float: left;
}
  .col-lg-6 {
    width: 48%;
    margin: 1%;
    float: left;
  }
  .col-lg-12 {
    width: 98%;
    margin: 1%;
    float: left;
  }
}

/***** Medium devices *****/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4, .col-md-6, .col-md-12 {
  }
  .col-md-4 {
    width: 31.33%;
    margin: 1%;
    float: left;
}
  .col-md-6 {
    width: 48%;
    margin: 1%;
    float: left;
  }
  .col-md-12 {
    width: 98%;
    margin: 1%;
    float: left;
  }
}
/***** Small devices *****/
@media (max-width: 767px) {
  .col-s-4, .col-s-6, .col-s-12 {
  }
  .col-s-4 {
    width: 31.33%;
    margin: 1%;
    float: left;
}
  .col-s-6 {
    width: 48%;
    margin: 1%;
    float: left;
  }
  .col-s-12 {
    width: 98%;
    margin: 1%;
    float: left;
  }
}